@import 'roboto.css';

body {
    font-family: 'Roboto', sans-serif;
}

.red {
    color: red;
}

h2 {
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}